body{
    margin:0px;
}
body{
    background-color:white;
    color:black
}
.mydark{
    background-color:black;
    color:white
}

#header{
    height:60px;
    background-color: rgb(161, 128, 114);
}
.slogo{
height:50px;
width:50px;
}

#icon{
margin-left:1%;
margin-top:-1%;
position:absolute;
color: #6d1010;

}
a{
    text-decoration: none;
}

#social{
    float: right;
    margin-right: 1%;
}

#search{
    height:390px;
    /*border: 2px solid rgb(128, 77, 0);*/
    background-image: url('image/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size:100% 400px;
}
#QuickSearch{
    height:500px;
}
#logo{
    height:100px;
    width:100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: 1%;
    margin-left:50%;
    font-size: 80px;
    color: crimson;
    position: absolute;
}
@keyframes movelogo {
    0% {margin-left:45%;}
    20% {margin-left:40%;}
    40% {margin-left:45%;}
    60% {margin-left:40%;}
    80% {margin-left:45%;}
    100% {margin-left:40%;}
}
#logo > span{
    margin-left: 20px;
}
#heading{
    color: rgb(245, 239, 239);
    margin-left: 35%;
    margin-top: 8%;
    font-size:45px;
    position: absolute;
}
.dropdown{
    height:60px;
    width:50%;
    margin-left:35% ;
    margin-top: 13%;
    position: absolute;
}
select{
    height:60px;
    width:35%;
    color: gray;
    font-size: 20px;
    text-align:center;
}
.restaurant-select{
    width:50%;
    color: gray;
    font-size: 20px;
    text-align:center;
}
#QuickSearch{
    height:510px;
    width:80%;
    margin-left: 10%;
    margin-top: 1%;
    display:inline-block;
}
#QuickHeading{
display: block;
color:crimson;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
margin-left:2%;
}

#QuickSubHeading{
    line-height: 2;
    color: gray;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left:2%;
}
.tileContainer{
    height:180px;
    width:30%;
    float:left;
    box-shadow:10px 20px 10px gray;
    margin-top:1%;
    margin-left:2%;
}
.tileContainer:hover{
    transform: scale(1.1);
}

.tileComponent1{
float:left;
width:50%;
height:180px;
}
.tileComponent1 >img{
width:100%;
height:180px;
}
.tileComponent2{
    float:left;
    width:40%;
    height:180px;
    margin-left: 2%;
    margin-top: 12%;
}
.componentHeading{
    color:crimson;
    font-size: 25px;
}
.componentSubHeading{
    color:gray;
    font-size: 20px;
}
.footer{
    width:100%;
    color:darkred;
    display:inline-block;
}

@media screen and (max-width:1600px){
    body{
        background-color:rgb(250, 250, 249);
        color:black
    }
}
@media screen and (max-width:1400px){
    .restaurant-select{
        width:53%;
    }
    #heading{
        margin-left: 30%;
        margin-top: 9%;
    }
    .dropdown{
        margin-top: 15%;
    }
}
@media screen and (max-width:1200px){
    .restaurant-select{
        width:62%;
    }
    #heading{
        margin-left: 22%;
        margin-top: 11%;
    }
    .dropdown{
        margin-top: 17%;
        margin-left:25%;
    }
    #logo{
        margin-left:42%;
    }
}
@media screen and (max-width:1000px){
    #heading{
        margin-left: 20%;
        margin-top: 12%;
    }
    .dropdown{
        margin-top: 19%;
        margin-left:25%;
    }
    .restaurant-select{
        width:64%;
    }
    #logo{
        margin-left:45%;
    }
    
}
@media screen and (max-width:800px){
    body{
        background-color: rgb(62, 42, 177);
    }
}
@media screen and (max-width:600px){
    body{
        background-color: rgb(121, 211, 151);
    }
}